
.company_values {

  width: 1023px;
  height: auto;

  flex-grow: 1;
  
  display: flex;
  flex-direction: column;
  justify-content: center;


  align-content: center ;

  margin-left: auto;
  margin-right: auto;
  
  padding-top: 20px;
  padding-bottom: 5px;


}


.value_BLOCK {

  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  margin-bottom: 20px;
  
}

.top_line { /* className from ShowNhide*/


  width: auto;
  /* min-height: 52px; */
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-items: center;

  border: 1px solid transparent;
  border-radius: 10px;

  background-color: #FF6060;

  transition: none;

  cursor: pointer;
    
}


.top_line h3 { /* className from ShowNhide*/

  text-align: right;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #FFFFFF;

  padding-left: 20px;
    
}

.arrow_up {  /* className from ShowNhide*/

  width: 32px;
  height: 32px;
  
  margin-right: 10px;

  cursor: pointer;
}


.explanation  {   /* className from ShowNhide*/

  width: auto;
  
  max-height: 100px;
  height: auto;

  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #000000;

  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;

  text-justify: auto;
  hyphens: auto;

  text-align: justify;

}


/*?  on click arrow effects */

/* NB  ShowNhide Component do not manage css */

.arrow_up {
  
  transition: transform 0.5s ease-in-out; 
}

.arrow_up.rotate180 {
  transform: rotate(180deg);
}

.hidden_paragraph {
  
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; 
  transition: height 0.5s ease-in-out;
  height: 10px;
  overflow: hidden;
  
}

.hidden_paragraph.show_paragraph {
  opacity: 1; 
  transform: translateY(0);
  
  height: 80px !important;
  overflow: hidden;
  
}

/** START MEDIA QUERIES PHONE */

@media only screen and (max-width: 767px) {

  .company_values {

    
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    
  }
  
  .top_line h3 {

    font-size: 15px;
  }

  .explanation  {

    max-height: 122px;
    height: auto;

    font-size: 13px;
  }


  .arrow_up {

    width: 20px;
    height: 20px;
  }

  .hidden_paragraph.show_paragraph {

    height: 122px;
   
  }

}

/** END MEDIA QUERIES PHONE */

/*? START MEDIA QUERIES TABLET */

@media only screen and (min-width: 768px) and (max-width: 1440px) {

  .company_values {

    width: 80%;
    
    margin-left: auto;
    margin-right: auto;

    
  }
  
  .value_BLOCK {

    margin-bottom: 25px;
    
  }

  .top_line h3 {

    font-size: 18px;
  }

  .explanation  {

    
    max-height: 120px !important; /* "!important" necessary */
    height: auto;
    

    font-size: 15px;
  }

  

  .arrow_up {

    width: 20px;
    height: 20px;
  }

  .hidden_paragraph.show_paragraph {

    height: 120px !important;
    
  }

  
}

/*? END MEDIA QUERIES TABLET */