
.full_description_page {

    box-sizing: border-box;
  
    width: 100%;
  
    /* max-height: 800px; */
    height: 100vh; 
    /* vs 100 vh for full height fullfilment*/

    /* flex-grow: 1; */
  
    margin-left: auto;
    margin-right: auto;

    padding: 0;
    display: flex;
    flex-direction: column;

    /* background-color: lightgoldenrodyellow;
    border: 0.5px solid red; */

}