body::-webkit-scrollbar { /* hide scroll-bar for chrome*/
    display: none;
}

.home_page {

    box-sizing: border-box;
  
    width: 100%;
  
    height: auto; /* vs 100 vh for full height fullfilment*/

    /* flex: 1; */
  
    margin-left: auto;
    margin-right: auto;

    padding: 0;
    display: flex;
    flex-direction: column;

    /* background-color: lightgoldenrodyellow;
    border: 0.5px solid red; */

}
