
.lodgment_info1 {

    width: 1240px;
    max-height: 643px;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-content: center ;
   
    text-align: center;

    vertical-align: middle;
    align-items: center;

    margin-left: auto;
    margin-right: auto;


    /* border: 1px solid black;

    background-color: azure; */

}


.lodg_TLT_BLOCK {

    width: auto;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between ;

    padding-bottom: 0;

    /* border: 0.5px solid brown; */

}

.lodgment_Title {

    width: 635px;
    height: auto;
    /* justify-content: flex-start; */

    margin: 0;
    padding: 0;

    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-weight: 500;
    color: #FF6060;
    
    /* background-color: lightblue; */
    
}


.lodgment_Location {

    width: auto;
    height: 26px;
    /* margin-top: 10px; */

    flex-wrap: nowrap;

    margin: 10px 0;
    padding: 0;

    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    
}


.lodgment_Tags_block {

    width: auto;
    height: 25px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    margin-top: 20px;

    /* font-size: 14px; */
    padding: auto;
    
    
}

.lodgment_Tags_block span {

    width: auto;
    height: 25px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-right: 15px;
    padding: 0 3px 0 3px;

    border: 0.5px solid transparent;
    border-radius: 10px;
    color: white;
    background-color: #FF6060;
}

.lodg_HR_BLOCK {

    width: auto;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;

    /* align-content: center ; */
    align-items: center;
    text-align: right;

    /* border: 0.5px solid blue; */

}


.lodgment_Host_block {

    /* max-width: 167px; */
    width: 100%;
    height: 64px;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    vertical-align: middle;
    align-items: center;

    /* border: 0.5px solid orange;
    background-color: yellow; */
    
    
}

.lodgment_host_name {

    width: 93px;
    height: 52px;
    text-align: right;
    margin-right: 10px;

    /* text-align: center; */
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #FF6060;
}



.lodgment_host_picture img {

    width: 64px;
    height: 64px;
    object-fit: cover;

    background-color: #C4C4C4;
    border: 0.5px solid transparent;
    border-radius: 50%;
}


.lodgment_Rating_block {

    width: 196px;
    height: 36px;

    

    vertical-align: middle;

    margin-top: 30px;
    /* background-color: gray; */
}

.lodgment_Rating_block img{

    width: 36px;
    height: 36px;

}


/** START MEDIA QUERIES PHONE */

@media only screen and (max-width: 767px) {

    .lodgment_info1 {

        width: 335px;
       
        height: auto;
    
        display: flex;
        flex-direction: column;
        
    
    
        /* border: 1px solid black;
    
        background-color: azure; */
    
    }
  
    .lodg_TLT_BLOCK { 

        width: 335px;

        /* border: 0.5px solid brown; */
        

    }
    
    .lodgment_Title {

        width: 335px;
        font-size: 18px;
    }

    .lodgment_Location {
        font-size: 14px;
        margin-bottom: 0;
    }

    .lodgment_Tags_block {
    
        margin-top: 10px;
        
        
    }

    .lodgment_Tags_block span {

        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 12px;
        font-weight: 500;

        padding: 0 3px 0px 3px;

    }

    .lodg_HR_BLOCK {

        max-width: 375px;
        width: 100%;
        height: auto;
    
        
        flex-direction: row-reverse;
        
    
        /* border: 0.5px solid blue; */
    
    }

    .lodgment_Host_block {

       
        width: 100%;
        height: 64px;
    
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    
        vertical-align: middle;
        align-items: center;
        
       
    
        /* border: 0.5px solid orange;
        background-color: yellow; */
        
        
    }

    .lodgment_host_name {

        width: 35%;
        height: 52px;

        display: flex;
        flex-direction: column;
        justify-content: center;

        text-align: right;

        margin-right: 5px;

        
        
        font-size: 12px;
        font-weight: 500;
        /* background-color: aqua; */
        
    }
    
    
    .lodgment_host_picture img {
    
        width: 32px;
        height: 32px;
        
    }

    .lodgment_Rating_block {

        width: 100%;
        height: 18px;
        margin-top: 15px;
        
        text-align: left;

        /* background-color: grey; */
    }
    
    .lodgment_Rating_block img{
    
        width: 18px;
        height: 18px;
    
    }


  }
  
  /** END MEDIA QUERIES PHONE */
  
  /*? START MEDIA QUERIES TABLET */
  
  @media only screen and (min-width: 768px) and (max-width: 1440px) {

    .lodgment_info1 {

        width: 90% ;

        height: auto;
    
        display: flex;
        flex-direction: column;

        /* background-color: gray; */
    
      }

      .lodg_TLT_BLOCK, .lodgment_Title {

        width: 100%;
      }



      .lodgment_Tags_block span {

        display: flex;
        flex-direction: column;
        justify-content: center;
        /* font-size: 12px;
        font-weight: 500; */

        /* padding: 0 3px 0px 3px; */

    }

    .lodg_HR_BLOCK {

        width: 100%;
        height: auto;
    
        
        flex-direction: row-reverse;
        
    
        /* border: 0.5px solid blue; */
    
    }

    .lodgment_Host_block {

       
        width: 80%;
        height: 64px;
    
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    
        vertical-align: middle;
        align-items: center;
        
       
    
        /* border: 0.5px solid orange;
        background-color: yellow; */
        
        
    }
    
    
  }
  
  /*? END MEDIA QUERIES TABLET */