
.lodgment_carrousel {

    width: 1240px;
    height: 415px;
    position: relative;

    margin: 10px auto 10px auto;

    border: 1px solid transparent;
    border-radius: 25px;

    /* background-color: black; */
    box-shadow: 0px 4px 4px 0px #00000040;

}

.lodgment_photo {
  
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid transparent;
  border-radius: 25px;
  padding: 0;
  
}

.arrow {

  position: absolute;
  top: 40%;
  width: 96px;
  height: 119.64px;

  cursor: pointer;

}
.arrow_left {

  left: 2%;
}

.arrow_right {

  right: 2%;
}

.lodgment_picture_rank {
  position: absolute;
  bottom: 10%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
 
  text-align: center;
  margin: 0;
  padding: 0 20px; 

  font-size: 25px;
  font-weight: 700;
  color: white;
  
  -webkit-text-stroke: 0.75px #FF6060;
  -moz-text-stroke: 0.75px #FF6060;
  -ms-text-stroke: 0.75px #FF6060;
}

/** START MEDIA QUERIES PHONE */

@media only screen and (max-width: 767px) {

  .lodgment_carrousel {

    width: 335px;
    height: 255px;
    
  }

  .lodgment_photo {
  
    width: 335px;
    height: 255px;
    object-fit: cover;
    border: 1px solid transparent;
    border-radius: 25px;
    padding: 0;
    
  }

  .arrow {

    width: 24px;
    height: 24px;

    position: absolute;
    top: 50%;
    
  }

  

  .lodgment_picture_rank {

    position: absolute;
    bottom: 10%;
    left: 40%;
    font-size: 14px;
    
  }

  
  
}

/** END MEDIA QUERIES PHONE */

/*? START MEDIA QUERIES TABLET */

@media only screen and (min-width: 768px) and (max-width: 1440px) {

  .lodgment_carrousel {

    width: 90%;
    height: 320px;
    
  }

  .lodgment_photo {
  
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid transparent;
    border-radius: 25px;
    padding: 0;
    
  }

  .arrow {

    position: absolute;
    top: 45%;
    width: 42px;
    height: 42px;
    
  }

  .lodgment_picture_rank {

    position: absolute;
    bottom: 10%;
    left: 45%;
    
  }

  
}

/*? END MEDIA QUERIES TABLET */